* /* Defaults and presets */
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
}


body
{
        background-color: #ffffff;
}



body header
{
        width: 100%;
        height: 60px;
        background-color: black;
        padding: 1%;
}

body header p
{
        color: #ffffff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 18px;

        text-transform: uppercase;
        letter-spacing: 10px;
        position: relative;
        top: 10px;
}

body header p span
{
        color: rgb(198, 37, 37);
}

body header nav
{
        position: absolute;
        float: right;
        right: 0;
}

