$primary-color: #000;
$secondary-color: #9338fa;


*
{
    margin: 0; // Removes space between screen and the elements
    padding: 0; // Similar to margin but slight differences
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
